<%- include('partials/header') -%>
  <body>
    <h6 class="d-flex justify-content-center py-3">If you are interested in the url 'pennyscout.com', shoot me an email at 'journalocity at gmail.com</h6>
    <div class="container">

        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills ">
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="/signup" class="nav-link">Sign up</a></li>
          </ul>

        </header>
        <div class="container col-12 col-sm-12 col-md-12 col-lg-6 float-start">
          <div
            id="map"

          ></div>
        </div>
        <div class="container col-12 col-sm-12 col-md-12 col-lg-6 float-end ">
          <ul class="row list-unstyled">
       <li class="box">
          <% for(let i=0; i < 2; i++){ %>
            <a href="/login">
              
              <img class="img-fluid pic" src="<%= posts[i].image%>"> 
            </a>
  
  
          <div class="side">
          <span style="font-weight: bold"> <%= posts[i].title  %></span>
         <br>
          <%= posts[i].location.formattedAddress%>
          <br>
          <span style="padding-bottom: 5px"><%= posts[i].caption.length <= 150? posts[i].caption: posts[i].caption.slice(0, 150)+'...' %></span>
        </div>
              <%}%>
  
            </li>
          </ul>
      </div>




      
  </body>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js"></script>
<script src="js/map.js"></script>
<script src="js/add.js"></script>

  <%- include('partials/footer') -%>
